// Colors
$primary: #007074;
$secondary: #e45b31;
$light: #e3d9cf;
$text-dark: #0a2f1e;
$white: #fafafa;

h1,h2,h3,h4,h5,h6, p{
	color: $text-dark;
}

h1{
	font-size: 28px;
}
h2{
	font-size: 24px;
}

.btn-primary{
	background: $text-dark;
    padding: 8px;
    color: $white;
    display: inline-block;
    margin-top: 1rem;
    transition: .5s;
    border: solid 1px $text-dark;
    cursor: pointer;
    &:hover{
    	background: $primary;
    	color: #fff;
    }
}

ul{
	li{
		margin: .5rem 0;
	}
}