// Colors
$primary: #007074;
$secondary: #e45b31;
$light: #e3d9cf;
$text-dark: #0a2f1e;
$dark-teal: #022426;
$white: #fafafa;
$blue: #0088ce;
$dark-brown: #534f34;
$light-brown: #6d684b;
$light-gray: #d0d1c9;
$dark-gray: #afaba0; 
$white: #fff;

h1,h2,h3,h4,h5,h6, p, body, li{
	color: $text-dark;
    font-family: "Rubik", sans-serif;
}

h1{
	font-size: 28px;
}
h2{
	font-size: 24px;
}

.btn-primary{
	background: $text-dark;
    padding: 8px;
    color: $white;
    display: inline-block;
    margin-top: 1rem;
    transition: .5s;
    border: solid 1px $text-dark;
    cursor: pointer;
    &:hover{
    	background: $primary;
    	color: #fff;
    }
    @media(max-width: 767px){
        padding: 4px 6px;
        font-size: 12px;
    }
}

ul{
	li{
		margin: .5rem 0;
	}
}