@use "../globals" as *;
#vanta-hotspots { 
  position: absolute; 
  inset: 0; 
  pointer-events: auto;
  z-index: 30;
}

.vanta-hotspot {
  position: absolute;
  width: 10px; 
  height: 10px;
  border-radius: 9999px;
  background: $primary;
  box-shadow: 0 0 0 2px rgba(255,255,255,.6);
  --x: 0px; --y: 0px; --scale: 1;
  transform: translate(var(--x), var(--y)) translate(-50%, -50%) scale(var(--scale));
  transition: transform .18s ease, box-shadow .18s ease, width .5s ,height .5s;
  pointer-events: auto;

  .label{
    border: solid 1px $primary;
    position: absolute; 
    top: -8px; 
    left: 14px;
    background: #fff;
    padding: .5rem 1rem 1rem; 
    color: $text-dark; 
    font-size: 12px; 
    line-height: 1;
    white-space: nowrap; 
    transform: translateY(-100%); 
    opacity: 0; 
    pointer-events: auto;
    transition: opacity .15s ease, transform .15s ease;
    h2{ padding-top: 1rem; }
  }

  &.active, &.hover{
    .label{
      opacity: 1;
      transform: translateY(-110%);
    }
  }

  
  &.hover,
  &.active,
  &.jump-target {
    width: 30px;
    height: 30px;
  }
  &.is-disco{
	width: 40%;
	height: 65%;
	border: none;
	box-shadow: none;
	background: transparent;
	transform: translate(var(--x), var(--y)) translate(-50%, -50%);
	.label{
		display: none;
	}
  }
  &.secret{
  	@media(max-width: 767px){
  		display: none !important;
  	}
  }
  &[data-bg]{
  	&:before{
  		content:"";
  		transform: translate(-40%,-115%) scale(1);
  		background-size: contain;
  		width: 75px;
  		height: 75px;
  		position: absolute;
  		background-repeat: no-repeat;
  	}
  }
  &[data-bg="office"]{
  	&:before{
  		background-image: url('../images/office.svg');
  	}
  }
  &[data-bg="gallery"]{
  	&:before{
  		background-image: url('../images/gallery.svg');
  	}
  }
  &[data-bg="teepee"]{
  	&:before{
  		background-image: url('../images/teepee.svg');
  	}
  }
  &[data-bg="house"]{
  	&:before{
  		background-image: url('../images/house.svg');
  	}
  }
  @media(max-width: 767px){
  	pointer-events: unset;
  }
}


#vanta-bg { pointer-events: none; }


html,
body {
  overflow-x: hidden;
}

.home-mobile-slider {
	background: $light;
    height: 75vh;
    place-items: center;
    padding-block: clamp(32px, 8vh, 120px) 0;
    position: relative;
    isolation: isolate;
    border-bottom: solid 1px;
    .home-glide-portfolio {
	  position: relative;
	  width: 100%;
	  max-width: 100vw;
	  overflow: visible;
	  touch-action: pan-y;
	  overscroll-behavior-x: contain;
	  z-index: 1;
	  box-shadow: none;
	  height: 100%;
	  .glide__track {
	    overflow: visible;
	    height: 100%;
	    place-content: center;
	  }

	  .glide__slides {
	    perspective: 1000px;
	    gap: 0;
	    list-style: none;
	    margin: 0;
	    padding: 0; 
	    place-items: center;
	    height: 100%;
	    overflow: visible;
	  }

	  .glide__slide {
	    transform: none !important;
	    margin: 0;
	  }

	  .slide {
	    display: flex;
		justify-content: space-between;
		flex-direction: column;
	    place-items: center;
	    place-content: center;
	    height: 100%;
	    &__image {
			height: 100%;
			width: auto;
			border: none;
	    }

	    .lottie{
	      height: max-content !important;
	    }

	    &__content {
	      background: #e3d9cf;
	      display: block;
	      margin-top: 1rem;
	      padding: .5rem 1rem;
	      overflow: visible;
	      border: solid;
	      z-index: 2;
	      float: right;
	      position: relative;
	    }

	    &__title {
	      margin: 0 0 6px;
	      font-weight: 700;
	      font-size: clamp(16px, 1vw, 28px);
	      color: $text-dark;
	      @media(max-width: 767px){
	        line-height: 1;
	      }
	    }

	    &__meta {
	      font-size: clamp(10px, 13px, 15px);;
	      opacity: .9;
	    }

	    &__badge {
	      position: absolute;
	      top: 14px;
	      left: 14px;
	      background: rgba(17, 17, 24, .7);
	      color: #e5e7eb;
	      font-size: 12px;
	      padding: 6px 10px;
	      border-radius: 999px;
	      backdrop-filter: blur(6px);
	      border: 1px solid rgba(255, 255, 255, .08);
	    }

	    &__link {
	      position: absolute;
	      inset: 0;
	      z-index: 3;
	    }

	    &.is-active {
	      z-index: 20;

	      .slide__image {
	/*        transform: scale(1.06);*/
	        filter: saturate(1.05) contrast(1.08);
	      }
	    }

	    &.is-prev {
	      z-index: 10;
	      filter: brightness(.95);
	    }

	    &.is-next {
	      z-index: 10;
	      filter: brightness(.95);
	    }

	    &.is-2prev {
	      z-index: 5;
	      opacity: .8;
	    }

	    &.is-2next {
	      z-index: 5;
	      opacity: .8;
	    }
	  }
	}
	@media (max-width: 1024px) {
		--gap: 28px;
	}
	@media (max-width: 768px) {
		--gap: 22px;
	    --card-w: 40vw;
	    --card-h: 58vw;
	}
	#robot-wrap{
		bottom: 0;
		top: auto;
	}
}






